<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <img class="logo" src="../assets/logo3.png">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-list-item" routerLink="/home">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-list-item" routerLink="/package">Package</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-list-item" routerLink="/myBooking">My Bookings</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-list-item" routerLink="/contact">Contact Us</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active-list-item" routerLink="/login">Login</a>
      </li>

      <li class="nav-item" [hidden]="true">
        <a class="nav-link" routerLinkActive="active-list-item" routerLink="/login">Logout</a>
      </li>

    </ul>

  </div>
</nav>
<div class="content">
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
