<div class="container-fluid" style="padding: 30px;">
    <div class="row no-gutter signupArea">
        <!-- The image half -->
        <div class="col-md-6 d-none d-md-flex bg-image"></div>


        <!-- The content half -->
        <div class="col-md-6 bg-light">
               <div class="card">
                   <div class="title">
                       <span >Sign up Now !!</span>
                   </div><br>
                    <form [formGroup]="signupForm" class="input-icons">
                        <div>
                            <i class="fa fa-user icon"></i>
                            <input type="text" formControlName="fName"   placeholder="First Name" >
                            <div *ngIf="signupForm.controls.fName.errors &&  (signupForm.controls.fName?.dirty||signupForm.controls.fName?.touched)">
                                <span *ngIf="signupForm.controls.fName.errors?.minlength">
                                    Name must be at least 2 characters long.
                                </span>
                            </div>
                            
                        </div>
                        <br>
                        <div>
                            <i class="fa fa-user icon"></i>
                            <input type="text" formControlName="lName" placeholder="Last Name">
                        </div><br>
                        <div>
                            <input type="date" formControlName="dateOfBirth">
                        </div><br>
                        <div>
                            <i class="fa fa-phone icon"></i>
                            <input type="number" formControlName="contactNumber" placeholder="Contact Number">
                        </div><br>
                        <div>
                            <i class="fa fa-envelope icon"></i>
                            <input type="email" formControlName="email" placeholder="Email Id">
                        </div><br>
                        <div>
                            <i class="fa fa-lock icon"></i>
                            <input type="password" formControlName="password" placeholder="Password">
                        </div><br>
                        <div>
                            <i class="fa fa-lock icon"></i>
                            <input type="password" formControlName="cPassword" placeholder="Confirm Password">
                        </div><br>
                        <div>
                            <button type="submit" class="btn signup" (click)="signUp()" [disabled]="!signupForm.valid">Sign Up</button>
                        </div>
                    </form>
               </div>

               <div class="login">
                   Do you wish to <span class="loginNavigation" routerLink="/login"> Login </span> Now!!?
               </div>
        </div>
    </div>
</div>

